* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f5f5f5;
}

#container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#box-home {    
    margin: 0 auto;
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);    

    display: flex;
    flex-direction: column;
    gap: 10px;
}

#box-faturas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;

    a {
        text-decoration: none;
        color: blue;
    }

    a:hover {
        text-decoration: underline;
    }
}

#box-periodo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

#box-cnpj {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;    
}

#box-cnpj select, #box-periodo select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #fff;
}

#box-faturas a {
    text-decoration: none;
    color: blue;

    &:hover {
        text-decoration: underline;
    }
}

#box-faturas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;

    justify-content: center;
    align-items: center;

    visibility: hidden;

    h3 {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: bold;
        color: #333;
    }

    a {
        text-decoration: none;
        color: blue;
    }
}

#btn-search {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;

    &:hover {
        background-color: #0056b3;
    }
}